@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: Canela;
    src: url(../fonts/Canela-Medium-Trial.otf);
}

body {
    color: #fff;
    height: 100vh;
    width: 100%;
    background-color: #090F1D;
    background-image: url(../images/background.png), lightgray 0px -0.827px / 179.034% 100.035% no-repeat;
}

.container {
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    margin-top: 28px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.menu__list-item {
    color: var(--white-dissable-1, rgba(255, 255, 253, 0.72));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: all .2s;
    position: relative;
}

.menu__list-item::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D6EF0E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.menu__list-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu__list-item:hover {
    color: #fff;
}

.header__inner {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__btn {
    padding: 12px 40px;
    color: #FFF;
    border-radius: 8px;
    background: #D6EF0E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: all .2s;
}

.menu__btn:hover {
    background: transparent;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.hero {
    margin-bottom: 184px;
    margin-top: 120px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
}

.hero__info {
    width: 544px;
}

.hero__info-title {
    color: #FFFFFD;
    font-family: Canela;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
}

.hero__info-title span {
    color: #D6EF0E;
}

.hero__info-subtitle {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.hero__info-nav {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 72px;
}

.hero__info-nav-exploremore {
    border-radius: 8px;
    background: #D6EF0E;
    padding: 12px 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: all .2s;
}

.hero__info-nav-exploremore:hover {
    background-color: transparent;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.hero__info-nav-learnmore {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: all .2s;
}

.hero__info-nav-learnmore:hover {
    color: #D6EF0E;
}

.hero__image-star {
    position: absolute;
    top: 40%;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: -12%;
}

.hero__image {
    position: relative;
    max-width: 100%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero__image-bid {
    position: absolute;
    right: -11%;
    bottom: -11%;
    width: 304px;
    border-radius: 16px;
    border-top: 1px solid #D6EF0E;
    background: var(--background-background-4, #131E3A);
    box-shadow: 0px 9px 50px 0px rgba(23, 36, 65, 0.04);
}

.hero__image-bid-inner {
    padding: 20px;
}

.hero__image-bid-stats {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__image-bid-endtime-timetext,
.hero__image-bid-currentbid {
    margin-bottom: 5px;
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero__image-bid-endtime-text,
.hero__image-bid-currentbid-text {
    margin-bottom: 5px;
    color: #D6EF0E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.hero__image-bid-placebid {
    border-radius: 8px;
    border: 1px solid #D6EF0E;
    padding: 12px 40px;
    color: #D6EF0E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background: none;
    cursor: pointer;
    line-height: 120%;
    width: 100%;
    transition: all .2s;
}

.hero__image-bid-placebid:hover {
    background: #D6EF0E;
    color: #fff;
}

.hero__stats-inner {
    display: flex;
    align-items: center;
    gap: 94px;
}

.short-text {
    display: none;
}

.hero__stats-item {
    padding-right: 28px;
}

.hero__stats-item-text {
    color: #fff;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 8px;
}

.hero__stats-item-text span {
    color: #D6EF0E;
}

.hero__stats-item-descr {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.border-right {
    border-right: 1px solid #D6EF0E;
}

.artofweek__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artofweek__item-inner {
    padding: 20px;
}

.artofweek__item-img {
    margin-bottom: 24px;
}

.artofweek {
    margin-bottom: 184px;
}

.artofweek__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.artofweek__item-title {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.artofweek__item-price {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.artofweek__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.artofweek__item-endtext {
    color: var(--white-dissable, #838382);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 4px;
}

.artofweek__item-endtime {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.artofweek__item-endtime::before {
    content: url('../images/icon_time.svg');
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

.artofweek__item-price::before {
    content: url('../images/eth__icon.svg');
    display: inline-block;
    padding-right: 2px;
    vertical-align: middle;
}

.artofweek__item-placebid {
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid #D6EF0E;
    color: #D6EF0E;
    font-family: Inter;
    font-size: 16px;
    background: none;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    cursor: pointer;
    transition: all .2s;
}

.artofweek__item-placebid:hover {
    background: #D6EF0E;
    color: #fff;
}

.artofweek__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
}

.artofweek__header-title {
    width: 506px;
    color: #fff;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.artofweek__header-title span {
    color: #D6EF0E;
}

.artofweek__header-btn {
    padding: 12px 40px;
    border-radius: 8px;
    background: #D6EF0E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: all .2s;
}

.artofweek__item {
    border-radius: 28px;
    border-top: 1px solid #D6EF0E;
    background: var(--background-background-4, #131E3A);
}

.artofweek__header-link {
    display: inline-block;
    align-self: flex-end;
}

.artofweek__header-btn:hover {
    background: none;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.sell__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sell__info {
    width: 426px;
}

.sell__info-title {
    color: #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
}

.sell__info-title span {
    color: #D6EF0E;
}

.sell__info-descr {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.sell__info-nav {
    display: flex;
    align-items: center;
    gap: 36px;
}

.sell {
    margin-bottom: 184px;
}

.sell__info-nav-createnow {
    padding: 12px 40px;
    border-radius: 8px;
    background: #D6EF0E;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    transition: all .2s;
}

.sell__info-nav-createnow:hover {
    background: transparent;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.sell__info-nav-learnmore:hover {
    color: #D6EF0E;
}

.sell__info-nav-learnmore {
    transition: all .2s;
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.popular {
    margin-bottom: 184px;
}

.popular__header {
    display: flex;
    margin-bottom: 64px;
    align-items: center;
    justify-content: space-between;
}

.popular__header-title span {
    color: #D6EF0E;
}

.popular__header-title {
    width: 307px;
    color: #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.popular__header-btn {
    border-radius: 8px;
    background: #D6EF0E;
    padding: 12px 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    transition: all .2s;
    line-height: 120%;
}

.popular__header-btn:hover {
    background: transparent;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.popular__item-inner {
    display: flex;
    gap: 12px;
}

.popular__item-tag {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 4px;
}

.popular__item-owner {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.popular__item-img {
    position: relative;
}

.popular__item-inner {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.popular__item {}

.popular__items {
    display: grid;
    grid-gap: 30px;
    grid-auto-columns: 410px;

}

.subscribe__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.subscribe__info-title span {
    color: #D6EF0E;
}

.subscribe__info-title {
    color: #FFFFFD;
    font-family: Canela;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 20px;
}

.subscribe__info-descr {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 40px;
}

.subscribe__info-inputblock {
    position: relative;
}

.subscribe__info-input {
    border-radius: 8px;
    background: var(--background-background-4, #131E3A);
    padding: 16px 24px;
    color: var(--white-dissable-1, rgba(255, 255, 253, 0.72));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    border: none;
    width: 516px;
    transition: all .2s ease-out;

}

.subscribe__info-input:focus {
    outline: 1px solid #D6EF0E;
}

.subscribe__info-input-btn {
    right: 10px;
    top: 7px;
    color: #FFF;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border-radius: 8px;
    background: #D6EF0E;
    padding: 12px 40px;
    line-height: 120%;
    position: absolute;
    transition: all .2s;
}

.subscribe__info-input-btn:hover {
    background: transparent;
    color: #D6EF0E;
    outline: 1px solid #D6EF0E;
}

.subscribe {
    margin-bottom: 184px;
}

.footer {
    margin-bottom: 48px;
}

.footer__inner {
    display: flex;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--white-dissable, #838382);
    justify-content: space-between;
    align-items: center;
}

.footer__shortinfo-text {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 272px;
    margin-bottom: 24px;
}

.footer__shortinfo-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__shortinfo-link-item {
    background: #fff;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    cursor: pointer;
}

.footer__shortinfo-link-item:hover {
    background: #D6EF0E;
}

.footer__main__inner {
    display: flex;
    gap: 94px;
}


.footer__main__item-category {
    color: var(--white-main-white, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.footer__main__item-links {}

.footer__main__item-link-item {
    margin-bottom: 8px;
}

.footer__main__item-link {
    color: var(--white-white-stich, #FFFFFD);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    transition: all .2s;
}

.footer__main__item-link:hover {
    color: #D6EF0E;
}

.copyright {
    padding-bottom: 92px;
}

.copyright__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__privacy {
    color: var(--white-white-stich, #FFFFFD);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 28px;
}

.copyright__text {
    color: var(--white-white-stich, #FFFFFD);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.copyright__privacy-text:hover,
.copyright__privacy-terms:hover {
    color: #D6EF0E;
}

.popular__container {
    max-width: 1320px;
    margin: 0 auto;
}


.item1 {
    grid-column: 1;
    grid-row: 1;
    justify-self: stretch;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: end;
}

.item3 {
    grid-column: 2;
    grid-row: 2 / 3;
    justify-self: end;
}

.item4 {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}

.item5 {
    grid-column: 3;
    grid-row: 1 / 3;
}

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: none;
    z-index: 3;
    background-color: #090F1D;
    border-radius: 8px;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #D6EF0E;
    left: 5px;
    transition: all .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

@media screen and (max-width: 1095px) {
    .header__burger-btn {
        display: block;
    }

    .menu {
        left: -250px;
        top: 0;
        position: absolute;
        padding: 100px 90px 0 15px;
        height: 100%;
        z-index: 2;
        background: #D6EF0E;
        display: block;
        transition: all .5s;
        /* border-radius: 10px; */
    }

    .menu__list {
        display: block;
    }

    .menu__list-item {
        margin-bottom: 30px;
        font-size: 20px;
        color: #fff;
    }

    .menu__list-item:hover {
        color: #090F1D;
    }

    .menu__btn {
        background: #090F1D;
        color: #D6EF0E;
    }

    .menu__btn:hover {
        background: transparent;
        outline: 1px solid #090F1D;
        color: #090F1D;
    }

    .menu__item-link {
        display: block;
    }

    .header.open .menu {
        transform: translateX(100%);
    }
}


@media screen and (max-width: 1285px) {
    .artofweek__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .sell__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }

    .sell__info {
        text-align: center;
    }

    .sell__info-nav {
        justify-content: center;
    }

    .popular__header {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 887px) {
    .artofweek__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .artofweek__header-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 550px) {
    .artofweek__header-text {
        font-size: 6em;
    }
}

@media screen and (max-width: 1110px) {
    .hero__inner {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero__info {
        text-align: center;
    }

    .hero__info-nav {
        justify-content: center;
    }
}

@media screen and (max-width: 1325px) {
    .subscribe__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe__info {
        text-align: center;
    }

    .subscribe__info-inputblock {
        justify-content: center;
    }

    .subscribe__info-input-btn {
        right: 200px;
    }
}

@media screen and (max-width: 1050px) {
    .footer__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .footer__shortinfo {
        text-align: center;
    }

    .footer__shortinfo-links {
        justify-content: center;
    }

}

@media screen and (max-width: 725px) {
    .footer__main__inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .copyright__inner {
        text-align: center;
        display: block;
    }

    .copyright__privacy {
        justify-content: center;
    }
}

@media screen and (max-width: 937px) {
    .subscribe__info {
        max-width: 500px;
    }

    .subscribe__info-input-btn {
        right: -10px;
    }
}

@media screen and (max-width: 665px) {
    .subscribe__image img {
        width: 300px;
    }
}

@media screen and (max-width: 570px) {
    .subscribe__info {
        max-width: 300px;
    }

    .subscribe__info-input {
        width: 350px;
    }

    .subscribe__info-input-btn {
        right: -40px;
        padding: 12px 20px;
    }

    .full-text {
        display: none;
    }

    .short-text {
        display: block;
    }
}

@media screen and (max-width: 435px) {
    .subscribe__info-input {
        width: auto;
    }

    .subscribe__info-input-btn {
        right: 20px;
    }

    .sell__images img {
        width: 320px !important;
    }

    .artofweek__item-img img {
        width: 280px;
    }

    .artofweek__item-title {
        font-size: 16px;
    }

    .artofweek__item-footer {
        gap: 15px;
        flex-wrap: wrap;
    }

    .artofweek__item-placebid {
        width: 100%;
    }
}

@media screen and (max-width: 775px) {
    .sell__images img {
        width: 400px;
    }
}

@media screen and (max-width: 540px) {
    .artofweek__header-title {
        width: 300px;
    }
}

@media screen and (max-width: 580px) {
    .hero__stats-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .hero__image img {
        width: 300px;
    }

    .hero__image-star {
        top: 0;
        left: -19px;
        max-width: 100px;
    }

    .hero__image-bid {
        left: 0;
        bottom: -80px;
    }
}

@media screen and (max-width: 1315px) {
    .popular__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 15px;
    }
}

@media screen and (max-width: 550px) {
    .popular__item-img img {
        max-width: 100%;
    }
}